{% load static %}
<header class="header">
  <div class="header-left">
    <img src= "{% static 'images/Logo.png' %}" alt="Fusion Reach Logo" class="logo">
    <span class="brand-name">FusionReach</span>
  </div>

  <nav class="header-center">
    <ul class="nav">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href={% url 'companies_list' %}>Companies</a></li>
    </ul>
  </nav>

  <div class="header-right">
    <button class="sign-in-btn">Sign In</button>
    <button class="cta-btn">Free Trial</button>
  </div>
</header>